<section class="container odoo-header" *ngIf="odoo_login">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="box-responsive">
          <img class="img-fluid" src="assets/odoo.png">
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</section>

<section class="container" *ngIf="odoo_login">
  <div class="row">
    <div class="col-12 text-center">
      <form (submit)="validate()">
        <mat-form-field class="box-responsive">
          <input matInput placeholder="Odoo Server URL" [value]="odoo_url_value" required #odoo_url>
          <mat-icon class="icon" color="primary" inline="true">insert_link</mat-icon>
        </mat-form-field>
        <mat-form-field class="box-responsive">
          <input matInput placeholder="Data Base" [value]="odoo_db_value" required #odoo_db>
          <mat-icon class="icon" color="primary" inline="true">cloud</mat-icon>
        </mat-form-field>
        <mat-form-field class="box-responsive">
          <input matInput placeholder="Email" [value]="odoo_user_value" required #odoo_user>
          <mat-icon class="icon" color="primary" inline="true">email</mat-icon>
        </mat-form-field>
        <mat-form-field class="box-responsive">
          <input matInput type="password" placeholder="Password" [value]="odoo_pass_value" required #odoo_pass>
          <mat-icon class="icon" color="primary" inline="true">lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary">Log Odoo Server</button>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" diameter="40">
    </mat-progress-spinner>
  </div>
  
  <div class="row alert_con" *ngIf="alert != ''">
    <div class="col-12 alert alert-danger box-responsive" role="alert">
      {{alert}}
    </div>
  </div>

  <footer class="pcp text-center">
        <span>&#112;&#111;&#119;&#101;&#114;&#101;&#100;
          &#032;&#098;&#121;
          &#032;&#077;&#111;&#108;&#100;&#101;&#111;
          &#032;&#073;&#110;&#116;&#101;&#114;&#097;&#099;&#116;&#105;&#118;&#101;</span>
  </footer>
</section>

<section *ngIf="odoo_connect" [hidden]="odoo_view">
  <app-odoo-player [url]="url" [server]="odoo_url_value" [db]="odoo_db_value" [user]="odoo_user_value" [pass]="odoo_pass_value" (log)="logOut()"></app-odoo-player>
</section>

