<section class="container odoo-header" *ngIf="odoo_login">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="box-responsive">
          <img class="img-fluid" src="assets/odoo.png">
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</section>

<section class="container" *ngIf="odoo_login">
  <div class="row">
    <div class="col-12 text-center">
        <mat-form-field class="box-responsive">
          <input matInput placeholder="Odoo Server URL" [value]="odoo_url_value" #odoo_url>
          <mat-icon class="icon" color="primary" inline="true">insert_link</mat-icon>
        </mat-form-field>
        <mat-form-field class="box-responsive">
          <input matInput placeholder="Data Base" [value]="odoo_db_value" #odoo_db>
          <mat-icon class="icon" color="primary" inline="true">cloud</mat-icon>
        </mat-form-field>
        <mat-form-field class="box-responsive">
          <input matInput placeholder="Email" [value]="odoo_user_value" #odoo_user>
          <mat-icon class="icon" color="primary" inline="true">email</mat-icon>
        </mat-form-field>
        <mat-form-field class="box-responsive">
          <input matInput type="password" placeholder="Password" [value]="odoo_pass_value" #odoo_pass>
          <mat-icon class="icon" color="primary" inline="true">lock</mat-icon>
        </mat-form-field>
    </div>
  </div>
  <div class="row">
      <div class="col-12 text-center box-responsive">
          <button mat-raised-button color="primary" (click)="logIn()">Log Odoo Server</button>
      </div>
  </div>
  <div class="row" *ngIf="alert != ''">
    <div class="col-12 alert alert-danger box-responsive" role="alert">
      {{alert}}
    </div>
  </div>
</section>

<section *ngIf="odoo_connect">
    <div style="width:100%;height:100vh;overflow-y:scroll !important;-webkit-overflow-scrolling:touch !important;">
      <iframe [src]="url" frameborder="0" scrolling="yes" style="width:100%;height:100%"></iframe>
    </div>
    <button class="fixed_button" mat-raised-button (click)="logOut()"><mat-icon color="warn">exit_to_app</mat-icon></button>
</section>

