@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-red, A700);
$candy-app-accent:  mat-palette($mat-indigo, A400);

$candy-app-warn:    mat-palette($mat-deep-orange, A700);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);